.size {
    width: 15px;
    height: 15px;
}

.tile {
    cursor: pointer;
    background-color: rgba(51, 65, 85, .5);
    border: 1px solid rgb(2, 6, 23);
    font-size: 10px;
}

.tile:hover {
    background-color: rgba(255, 99, 71, .5);
}

.block_tile {
    border-top: 1px solid white;
    border-left: 1px solid white;
    font-size: 10px;
    background-color: white !important;
}




.is_open {
    background: rgba(217, 119, 6, .2);
}

.is_road {
    background: #61dafb;
}

.is_goal {
    background: rgb(7, 89, 133);
}

.is_user {
    background: rgb(245, 158, 11) ;
}

.is_path {
    background-color: rgb(253, 224, 71) !important;
}

.is_tentative {
    background-color: rgb(163, 230, 53) !important;
}
